<% if @article.errors.any?%>
  <h5>Some errors prevent the articles from creating: </h5>
  <ul class="red-text text-darken-2">
    <% @article.errors.full_messages.each do |message| %>
      <li>
        <i class="material-icons red-text text-darken-2">error</i>
        <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>