<% if @article.errors.any?%>
  <h6><%= pluralize(@article.errors.count, "error" )%> prevented this article from being saved </h6>
  <ul class="red-text text-darken-2">
    <% @article.errors.full_messages.each do |message| %>
      <li>
        <i class="material-icons red-text text-darken-2">error</i>
        <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>