<h3> All Articles </h3>
<ul>
  <% @articles.each do |article| %>
    <li>
      <h3><%= link_to article.title, article_path(article) %></h3>
      <p>created <%= time_ago_in_words(article.created_at) %> ago</p>

      <p><%= article.description%></p>
    </li>
  <%end%>
</ul>