<div class="hero">
  <div class="container z-depth-3 center-align">
    <br>
    <br>
    <h4>A HOME FOR READERS</h4>
    <%if logged_in? %>
      <%= link_to 'Start Writing', new_article_path, class: "waves-effect waves-light btn pink" %>
    <%else%>
      <%= link_to 'Signup', signup_path, class: "waves-effect waves-light btn pink" %>
    <%end%>
    <i class="material-icons">face</i>
    <%= link_to 'All Articles', articles_path, class: "waves-effect waves-light btn pink" %>
    <br>
    <br>
  </div>
<div>
