<div class="hero">
  <div class="container z-depth-3 center-align">
    <br>
    <br>
    <h4>A HOME FOR READERS</h4>
    <%= link_to 'Signup', '#', class: "waves-effect waves-light btn pink" %>
    <i class="material-icons">face</i>
    <%= link_to 'All Articles', articles_path, class: "waves-effect waves-light btn pink" %>
    <br>
    <br>
  </div>
<div>
