@import "materialize";
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.hero {
  width: 100%;
  background-image: asset-data-url('undraw_blogging_vpvv.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: hsla(358, 78%, 68%, 0.379);
  min-height: 50vh;
}

#text-area {height: 5rem;}

textarea.materialize-textarea{height: 20rem;}



.footer {
  bottom: 0;
}

.card-user {
  width: 20%;
  height: auto;
  margin-left: 20px;
}

.users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pagination li.active a {
  color: #fff;
}